@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1240px;
  margin-inline: auto;
}

header {
  height: 80px;
}
.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar__items {
  display: flex;
  gap: 1.25rem;
}

.navbar__item {
  text-decoration: none;
}
